<h2> Please fill out the form below</h2>
      <form>
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Car Price</label>
          <div class="col-sm-10">
            <label for="customRange3" class="form-label">What is your preferred price range?</label>
          <input id="data" type="range" class="form-range" min="10000" data-bs-toggle="tooltip" data-bs-placement="top" max="50000" step="5000" id="customRange3">
          <div>
          <span id="spans">$10,000</span>
          <span id="spans">$15,000</span>
          <span id="spans">$20,000</span>
          <span id="spans">$25,000</span>
          <span id="spans">$30,000</span>
          <span id="spans">$35,000</span>
          <span id="spans">$40,000</span>
          <span id="spans">$45,000</span>
          <span id="spans">$50,000</span>
          </div>
          </button>
          
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Car Year</label>
          <div class="col-sm-10">
            <label for="customRange3" class="form-label">What is your preferred release year range? </label>
            <input id="years" type="range" class="form-range" min="1995" data-bs-toggle="tooltip" data-bs-placement="top" max="2020" step="5" id="customRange3">
            <div>
            <span id="spans">1995 (or newer)</span>
            <span id="spans">2000 (or newer)</span>
            <span id="spans">2005 (or newer)</span>
            <span id="spans">2010 (or newer)</span>
            <span id="spans">2015 (or newer)</span>
            <span id="spans">2020 (or newer)</span>
            </div>
            </button>
          </div>
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Passenger Number</legend>
            <div class="col-sm-10">
              <label for="customRange3" class="form-label">What is the minumum number of passengers you would like?</label>
              <select id="passengers" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Make a selection from the menu below:</option>
                <option value="1">2</option>
                <option value="2">4</option>
                <option value="3">6</option>
                <option value="4">8</option>
              </select>
              </div>
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Passenger Number</legend>
                  <div class="col-sm-10">
                    <label for="customRange3" class="form-label">What is ypur preferred body style?</label>
                    <select id="body" class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected>Make a selection from the menu below:</option>
                      <option value="1">Sedan</option>
                      <option value="2">SUV</option>
                      <option value="3">Truck</option>
                      <option value="4">Hatchback</option>
                      <option value="5">Convertible</option>
                    </select>
                    </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>