<div class="row">
  <div class="col-md-6">
    <h2>Search</h2>

    <form class="form" action="/api/cars/search" method="post">
      <div class="form-group">
        <label for="make">Year</label>
        <input class="form-input" type="text" name="year"/>
      </div>
      <div class="form-group">
        <label for="model">Passenger Capacity</label>
        <input class="form-input" name="passengerCapacity"/>
      </div>
        <div class="form-group">
        <label for="year">MSRP</label>
        <input class="form-input" name="MSRP"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="btn" type="submit">Search</button>
      </div>
    </form>
  </div>
</div>