<div class="container d-flex justify-content-center">
  <div class="row justify-content-center">
    <div class="card w-25 mx-4">
      <div class="card-body mx-4">
        <h5 class="card-title">Find My Car</h5>
        <p class="card-text">Find a car that suits all your needs at the click of a few buttons.</p>
        <a href="/car-search" class="btn btn-primary mt-5">Let's Go!</a>
      </div>
    </div>
    <div class="card w-25 mx-4">
      <div class="card-body mx-4">
        <h5 class="card-title">Find Safety Ratings</h5>
        <p class="card-text"> Want to look at your current or future vehicle's safety ratings?</p>
        <a href="/safety-ratings" class="btn btn-primary mt-5">Let's Go!</a>
      </div>
    </div>
    <div class="card w-25 mx-4">
      <div class="card-body mx-4">
        <h5 class="card-title">Find Car Recalls</h5>
        <p class="card-text">Want to see if your car has been recalled? Look no further!</p>
        <a href="/recalls" class="btn btn-primary mt-5">Let's Go!</a>
      </div>
    </div>
  </div>
</div>