<div class="row">
  <div class="col-md-6">
    <h2>Search</h2>

    <form class="form login-form" action="/safety-ratings/vehicles" method="post">
      <div class="form-group">
        <label for="make">Car make</label>
        <input class="form-input" type="text" name="make"/>
      </div>
      <div class="form-group">
        <label for="model">Car model</label>
        <input class="form-input" name="model"/>
      </div>
        <div class="form-group">
        <label for="year">Car year</label>
        <input class="form-input" name="year"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>
  </div>