<!-- Loop over each object in the projects array -->
<h2>{{vehicles.Count}} options found. Select your vehicle</h2>
{{#each vehicles.Results as |vehicle| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <ul>
        <li>Vehicle description: <a href="/safety-ratings/{{vehicle.VehicleId}}">{{vehicle.VehicleDescription}}</a></li>
    </ul>
  </div>
</div>
{{/each}}