<!-- Loop over each object in the projects array -->
<section class="col-md-6 offset-md-3">
<h2><b class="circle">{{vehicles.Count}}</b> option(s) found.</h2>
<h3>Select your vehicle</h3>
{{#each vehicles.Results as |vehicle| }}
<div class="row">
    <ul class="list-group">
        <li style="">Vehicle description: <a href="/safety-ratings/{{vehicle.VehicleId}}">{{vehicle.VehicleDescription}}</a></li>
    </ul>
</div>
{{/each}}
</section>